<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>{{"WAREHOUSE" | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="loading">
      <ion-icon name="push-outline"></ion-icon>
      <ion-label>{{"PALETTE_TAB" | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="construct-outline"></ion-icon>
      <ion-label>{{"SETTINGS" | translate }}</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>